<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="doomlauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <doomlauncher.Properties.Settings>
            <setting name="ExePath" serializeAs="String">
                <value>gzdoom.exe</value>
            </setting>
            <setting name="Addons" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtraArgs" serializeAs="String">
                <value />
            </setting>
        </doomlauncher.Properties.Settings>
    </userSettings>
</configuration>